<link rel="stylesheet" href="{{plugin_path('Novalnet')}}/css/novalnetUi.css">
{% if paymentDetails is not empty %}
<div class="row">
        <strong class="col-6 col-sm-5">{{trans("Novalnet::PaymentMethod.novalnet_details")}}</strong> 
        <span id="nnReferenceId" class="col-6 col-sm-7">{{trans("Novalnet::PaymentMethod.nn_tid")}} {{paymentDetails.tid}}</span>
    {% if paymentDetails.test_mode is not empty%}
        <span id="nnTestMode" class="col-6 col-sm-7">{{trans("Novalnet::PaymentMethod.test_order")}}</span><br>
    {% endif %}
</div>
<br><div class="row" id="nnBankDetails">
    {% if bankDetails is not empty %}
        <span id="nnAmountTransferText" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.transfer_amount_text")}}</span>
        <span id="nnAccountHolder" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.account_holder_novalnet")}} {{bankDetails.invoice_account_holder}}</span>
        <span id="nnAccountIban" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.iban")}} {{bankDetails.invoice_iban}}</span>
        <span id="nnAccountBic" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.bic")}} {{bankDetails.invoice_bic}}</span>
        <span id="nnDueDate" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.due_date")}} {{bankDetails.due_date}}</span>
        <span id="nnBankNamePlace" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.bank")}} {{bankDetails.invoice_bankname}} {{bankDetails.invoice_bankname}}</span>
        <span id="nnOrderAmount" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.amount")}} {{bankDetails.amount}} {{bankDetails.currency}}</span><br>
        <br><span id="nnReferenceText" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.any_one_reference_text")}}</span>
        <span id="nnReference1" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.payment_reference1")}}  BNR-{{bankDetails.product_id}}-{{bankDetails.order_no}}</span>
        <span id="nnReference2" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.payment_reference2")}} TID {{bankDetails.tid}}</span>
   {% endif %}
</div>     
    {% if bankDetails.payment_id == 96 %}
    <br><div class="row" id="nnInstalmentDetails">
        <strong class="col-6 col-sm-5">{{trans("Novalnet::PaymentMethod.instalment_info")}}</strong> 
        <span id="nnInstalmentPaidAmount" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.total_paid_amount_text")}} {{bankDetails.total_paid_amount}}</span>
        <span id="nnInstalmentCycleAmount" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.instalment_cycle_amount_text")}} {{bankDetails.instalment_cycle_amount}}</span>
        <span id="nnPaidInstalment" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.paid_instalment_text")}} {{bankDetails.paid_instalment}}</span>
        <span id="nnDueInstalment" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.due_instalment_text")}} {{bankDetails.due_instalment}}</span>
        <span id="nnNextInstalment" class="col-6 col-sm-12">{{trans("Novalnet::PaymentMethod.next_instalment_text")}} {{bankDetails.next_instalment}}</span>
    </div>
    {% endif %}
    
{% endif %}


